<div class="banner-area">
  <div class="container">
    <h2>List of F1 World Drivers Champions</h2>
    <h3>(2005-2015)</h3>
  </div>
</div>
<div class="container content">
  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  <div *ngIf="winners && winners.length > 0">
    <div class="row row_header">
      <div class="col-md-2">Season</div>
      <div class="col-md-4">Driver</div>
      <div class="col-md-2">Date of Birth</div>
      <div class="col-md-2">Nationality</div>
      <div class="col-md-1">Points</div>
      <div class="col-md-1">Wins</div>
    </div>
    <div class="row" *ngFor="let winner of winners">
      <div class="col-md-2 col-season" (click)="onClickSeason(winner.season)">{{winner.season}}</div>
      <div class="col-md-4">
        <a href="{{winner.driver.url}}" target="_blank">{{winner.driver.getFullName()}}</a>
      </div>
      <div class="col-md-2">{{winner.driver.dateOfBirth}}</div>
      <div class="col-md-2">{{winner.driver.nationality}}</div>
      <div class="col-md-1">{{winner.points}}</div>
      <div class="col-md-1">{{winner.wins}}</div>
    </div>

  </div>
  <div *ngIf="winners && winners.length == 0">
    There are no winners.
  </div>
</div>
