@import "../app.variables.scss";

.banner-area {
  background-color: $color_main;
  padding: 3rem 0;
  border-top: 1px solid #e8ebeb;
  border-bottom: 1px solid #e8ebeb;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: #fff;
  }
}
.row {
  border-bottom: 1px solid #e8ebeb;
  margin: 0;
  padding: 0.8rem 0;
  text-align: center;

  .col-season {
    font-weight: bold;
    color: $color_brand;
  }

  .col-season:hover {
    color: $color_main;
    cursor: pointer;
  }
}
.row:hover {
  background-color: $color_bg;
}
.row_header {
  color: $color_brand;
}
.row_header:hover {
  background-color: #fff;
}

@media (max-width: 767px) {
  .row_header {
    display: none;
  }
  .row {
    text-align: left;
  }
}
