<div class="banner-area">
  <div class="container">
    <h2>Winners By Race</h2>
    <h3>Season: {{season}}</h3>
  </div>
</div>
<div class="container content">
  <div (click)="goBack()" class="btn"><i>&larr;</i> Go back</div>

  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  <div *ngIf="winners && winners.length > 0">
    <div class="row row_header">
      <div class="col-md-1">Round</div>
      <div class="col-md-3">Race</div>
      <div class="col-md-2">Date</div>
      <div class="col-md-2">Driver</div>
      <div class="col-md-2">Date of Birth</div>
      <div class="col-md-2">Nationality</div>
    </div>
    <div class="row" *ngFor="let winner of winners">
      <div class="col-md-1">{{winner.round}}</div>
      <div class="col-md-3">
        <a href="{{winner.url}}" target="_blank">{{winner.raceName}}</a>
      </div>
      <div class="col-md-2">{{winner.date}}</div>
      <div class="col-md-2">
        <a href="{{winner.driver.url}}" target="_blank">{{winner.driver.getFullName()}}</a>
      </div>
      <div class="col-md-2">{{winner.driver.dateOfBirth}}</div>
      <div class="col-md-2">{{winner.driver.nationality}}</div>
    </div>

  </div>
  <div *ngIf="winners && winners.length == 0">
    There are no winners.
  </div>
</div>

