@import "./app/app.variables.scss";

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $color_main;
  padding: 0;
  margin: 0;
}
body {
  border-top: 0.3rem solid $color_brand;
}
header,
footer,
.content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
h1,
h2 {
  color: $color_main;
}
h3 {
  color: $color_brand;
}

a,
a:visited {
  color: $color_brand;
}
a:hover {
  color: $color_main;
  text-decoration: none;
}

@media (max-width: 499px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 500px) and (max-width: 999px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1000px) and (max-width: 1999px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}
